
\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/
out/production/APCS-Final/main/Main\.class

out/production/APCS-Final/main/Main\$1\.class

out/production/APCS-Final/main/Main\$2\.class

out/production/APCS-Final/main/main\.fxml

out/production/APCS-Final/main/uiElements/page/MainMenu\.css

out/production/APCS-Final/main/uiElements/page/MainMenuPage\.class

out/production/APCS-Final/main/uiElements/page/PageElement\.class

out/production/APCS-Final/main/uiElements/ui/logo\.png

out/production/APCS-Final/main/uiElements/ui/UI\.css
