
\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/
out/production/APCS-Final/sample/Main\.class

out/production/APCS-Final/sample/Main\$1\.class

out/production/APCS-Final/sample/Main\$2\.class

out/production/APCS-Final/sample/sample\.fxml

out/production/APCS-Final/sample/uiElements/page/MainMenu\.css

out/production/APCS-Final/sample/uiElements/page/MainMenuPage\.class

out/production/APCS-Final/sample/uiElements/page/PageElement\.class

out/production/APCS-Final/sample/uiElements/ui/logo\.png

out/production/APCS-Final/sample/uiElements/ui/UI\.css
