
\.idea/vcs\.xml

\.idea/workspace\.xml

\.idea/
out/production/APCS-Final/sample/Main\.class

out/production/APCS-Final/sample/Main\$1\.class

out/production/APCS-Final/sample/Main\$2\.class

out/production/APCS-Final/sample/sample\.fxml

out/production/APCS-Final/sample/UIElements/Page/MainMenu\.css

out/production/APCS-Final/sample/UIElements/Page/MainMenuPage\.class

out/production/APCS-Final/sample/UIElements/Page/PageElement\.class

out/production/APCS-Final/sample/UIElements/UI/logo\.png

out/production/APCS-Final/sample/UIElements/UI/UI\.css
