.label {
     -fx-text-fill: white;
     -fx-font-family: "Helvetica";
     -fx-font-weight: bold;
}

.button {
    -fx-background-color: white;
    -fx-text-fill: #383C95;  /* HQ-Blue */
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
}

