#cam_bg{
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-fx-cursor: move;
}

#transp {
    -fx-background-color: rgba(0, 0, 0, 0);
}

#reticle {
    -fx-fill: transparent;
    -fx-stroke: red;
    -fx-stroke-width: 1;
}

#reticleINV {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 1;
}