#bg{
    -fx-fill: #383C95;
}

#login_pn{
    -fx-padding: 7px;
    -fx-translate-x: 7px;
    -fx-translate-y: 7px;
}

#feedBack{
     -fx-text-fill: red;
     -fx-font-family: "Helvetica";
     -fx-font-size: 10;
}